body {
  background: var(--background-color);
}
.container {
  color: var(--primary-color);
  text-align: center;
}
.actions {
  display: flex;
  justify-content: center;
}
.actions button {
  margin: 30px;
  color: white;
  background: var(--secondary-color);
  border-radius: 10px;
  width: 10rem;
  height: 2rem;
}
