.editar-opciones {
  display: flex;
  flex-direction: row;
}

.nav-lateral {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 5em;
  margin-left: 3em;
}

.nav-lateral a {
  text-decoration: none;
  padding: 2.2em;
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  display: inline-block;
  position: relative;
}

h3::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: #ec46a1;
  top: -0.1em;
}

h3::before {
  left: 25px;
}

.cambiar-datos {
  display: flex;
  flex-direction: column;
  padding-top: 14em;
  border-left: solid 2px #7f1f71;
  padding-left: 3em;
}

.input-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}

label {
  text-align: start;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 2em;
}

input {
  display: inline-block;
  width: 40%;
  height: 2em;
  padding: 10px;
  border: solid #7f1f71 1px;
  border-radius: 10px;
  margin-right: 10em;
}

.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.7em;
}

.opciones a {
  color: #7f1f71;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

button {
  width: 20%;
  padding: 5px;
  border-radius: 10px;
  color: #ffff;
  background-color: #ec46a1;
  margin-top: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 1366px) and (min-width: 1024px) {
  .editar-opciones {
    display: flex;
    flex-direction: row;
  }

  .nav-lateral {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5em;
    margin-left: 3em;
  }

  .nav-lateral a {
    text-decoration: none;
    padding: 2.2em;
    color: black;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
  }

  h3 {
    display: inline-block;
    position: relative;
  }

  h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #ec46a1;
    top: 0.5em;
  }

  h3::before {
    left: 25px;
  }

  .cambiar-datos {
    display: flex;
    flex-direction: column;
    padding-top: 14em;
    border-left: solid 2px #7f1f71;
    padding-left: 3em;
  }

  .input-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
  }

  label {
    text-align: start;
    font-size: 1em;
    font-weight: 700;
    margin-left: 2em;
    margin-right: 2em;
    white-space: nowrap;
  }

  input {
    display: inline-block;
    width: 40%;
    height: 2em;
    padding: 10px;
    border: solid #7f1f71 1px;
    border-radius: 10px;
    margin-right: 10em;
  }

  .opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.7em;
  }

  .opciones a {
    color: #7f1f71;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
  }

  button {
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    color: #ffff;
    background-color: #ec46a1;
    margin-top: 15px;
    margin-bottom: 16px;
    cursor: pointer;
    border: 0px;
  }
}
