<app-header></app-header>

<section class="editar-opciones">
    <nav class="nav-lateral">
        <a [routerLink]="['/editar-perfil']">Editar perfil</a>
        <a [routerLink]="['/cambiar-contra']"><strong>Cambiar Contraseña</strong><h3></h3></a>
        <a [routerLink]="['/notificaciones']">Notificaciones push</a>
        <a [routerLink]="['/privacidad']">Privacidad y seguridad</a>
    </nav>
    <form class="container" (ngSubmit)="cambiar()" #newContraForm="ngForm">
        <div class="cambiar-datos">
            <div class="input-info">
                <label>Contraseña antigua</label>
                <input>
            </div>
            <div class="input-info">
                <label>Contraseña Nueva</label>
                <input>
            </div>
            <div class="input-info">
                <label>Confirmar contraseña</label>
                <input>
            </div>
            <div class="opciones">
                <a [routerLink]="['forget-password']">¿Has olvidado tu contraseña?</a>
                <button>Cambiar contraseña</button>
            </div>
        </div>
        </form>
</section>
