.editar-opciones {
  display: flex;
  flex-direction: row;
}

.nav-lateral {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 5em;
  margin-left: 3em;
}

.nav-lateral a {
  text-decoration: none;
  padding: 2.2em;
  color: black;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

h3 {
  display: inline-block;
  position: relative;
}

h3::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: #ec46a1;
  top: -0.1em;
}

h3::before {
  left: 25px;
}

.input-info {
  display: flex;
  align-items: center;
}

.input-info img {
  width: 132px;
  height: 132px;
  border: 2px solid #7f1f71;
  border-radius: 50%;
}

#cambiar-foto {
  margin-left: 2em;
}

.cambiar-datos {
  display: flex;
  flex-direction: column;
  padding-top: 7em;
  border-left: solid 2px #7f1f71;
  padding-left: 3em;
}
.input-info p {
  display: block;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 5em;
}

label {
  font-weight: 700;
  margin-right: 3.1em;
  margin-left: 10.5em;
}

input {
  display: inline-block;
  width: 30%;
  height: 2em;
  margin: 0.5em;
  padding: 10px;
  border: solid #7f1f71 1px;
  border-radius: 10px;
}

input.name {
  width: 77%;
}
.label-name {
  margin-right: 2.8em;
}

label.biografia {
  margin-right: 2.8em;
}

.otro-margin {
  margin-right: 1.7em;
}

#biografia {
  height: 4em;
}

.opciones a {
  color: #7f1f71;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

button {
  width: 20%;
  padding: 5px;
  border-radius: 10px;
  color: #ffff;
  background-color: #ec46a1;
  margin-top: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}
.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
}

.modal {
  background-color: #ffff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

@media only screen and (max-width: 1366px) and (min-width: 1024px) {
  .editar-opciones {
    display: flex;
    flex-direction: row;
  }

  .nav-lateral {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 5em;
    margin-left: 3em;
  }

  .nav-lateral a {
    text-decoration: none;
    padding: 2.2em;
    color: black;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
  }

  h3 {
    display: inline-block;
    position: relative;
  }

  h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #ec46a1;
    top: 0.5em;
  }

  h3::before {
    left: 25px;
  }

  .input-info {
    display: flex;
    align-items: center;
  }

  .input-info img {
    width: 132px;
    height: 132px;
    border: 2px solid #7f1f71;
    border-radius: 50%;
  }

  #cambiar-foto {
    margin-left: 2em;
  }

  .cambiar-datos {
    display: flex;
    flex-direction: column;
    padding-top: 7em;
    border-left: solid 2px #7f1f71;
    padding-left: 3em;
  }
  .input-info p {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 5em;
  }

  label {
    font-weight: 700;
    margin-right: 3.1em;
    margin-left: 10.5em;
  }

  input {
    display: inline-block;
    width: 30%;
    height: 2em;
    margin: 0.5em;
    padding: 10px;
    border: solid #7f1f71 1px;
    border-radius: 10px;
  }

  input.name {
    width: 77%;
  }
  .label-name {
    margin-right: 2.8em;
  }

  label.biografia {
    margin-right: 2.8em;
  }

  .otro-margin {
    margin-right: 1.7em;
  }

  #biografia {
    height: 4em;
  }

  .opciones a {
    color: #7f1f71;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  button {
    width: 15%;
    height: 2rem;
    padding: 5px;
    border-radius: 10px;
    color: #ffff;
    background-color: #ec46a1;
    margin-top: 15px;
    margin-bottom: 16px;
    cursor: pointer;
    border: 0px;
  }
  .opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
  }

  .modal {
    background-color: #ffff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .show {
    pointer-events: auto;
    opacity: 1;
  }
}
