<div class="container">
  <h2>Crear publicación</h2>
  <div class="linea-horizontal"></div>
  <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png,image/gif">
    <ngx-dropzone-label>Arrastra aquí una foto</ngx-dropzone-label>
    <ngx-dropzone-preview
      [removable]="false"
      multiple="false"
      (removed)="onRemove(foto[0])"
      *ngIf="foto.length"
    >
      <ngx-dropzone-label
        >{{ foto[0].name }} ({{ foto[0].type }})</ngx-dropzone-label
      >
    </ngx-dropzone-preview>
  </ngx-dropzone>
  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />
  <button (click)="fileUpload.click()">Selecciona del ordenador</button>
  <div class="linea-horizontal"></div>
</div>
