<app-header></app-header>
<section class="cabecero">
  <!-- Back -->
  <div class="back">
    <img src="assets/images/icons/left_arrow.png" alt="" (click)="goBack()" />
  </div>
  <img [src]="user?.img" alt="foto-usuario" class="foto-usuario" />
  <div class="info-user">
    <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
    <p>Periodista de moda</p>
    <p>La moda no sólo existe en los vestidos.</p>
    <hr />
    <strong>6 Publicaciones</strong>
    <strong>165 Amigos</strong>
    <strong>300 seguidos</strong>
  </div>
  <div class="options">
    <!-- <a class="btn" href="#"><i class="fas fa-pen"></i> Editar perfil</a> -->
    <a class="btn" [routerLink]="['/editar-perfil']"><i class="fas fa-cog"></i> Configuración</a>
  </div>
</section>
<section class="publicaciones">
  <div class="grid-container">
    <div class="grid-item">
      <img src="assets/images/profile/post1.jpg" />
      <p>Producción de fotos</p>
    </div>
    <div class="grid-item">
      <img src="assets/images/profile/post5.jpg" />
      <p>Noche de casamiento Lucia y Marcos</p>
    </div>
    <div class="grid-item">
      <img src="assets/images/profile/post2.jpg" />
      <p>Gold</p>
    </div>
    <div class="grid-item">
      <img src="assets/images/profile/post3.jpg" />
    </div>
    <div class="grid-item">
      <img src="assets/images/profile/post4.jpg" />
    </div>
    <div class="grid-item">
      <img src="assets/images/profile/post6.jpg" />
    </div>
  </div>
</section>
