<app-header></app-header>
<section class="cabecero">
  <!-- Back -->
  <div class="back">
    <img src="assets/images/icons/left_arrow.png" alt="" (click)="goBack()" />
  </div>
  <img [src]="user?.img" alt="foto-usuario" class="foto-usuario" />
  <div class="info-user">
    <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
    <p>Periodista de moda</p>
    <p>La moda no sólo existe en los vestidos.</p>
    <hr />
    <strong *ngIf="publicaciones">{{ publicaciones.length }} publicaciones</strong>
    <strong>165 Amigos</strong>
    <strong>300 seguidos</strong>
  </div>
  <div class="options">
    <!-- <a class="btn" href="#"><i class="fas fa-pen"></i> Editar perfil</a> -->
    <a class="btn" [routerLink]="['/editar-perfil']"><i class="fas fa-cog"></i> Configuración</a>
  </div>
</section>
<section class="publicaciones">
  <div class="grid-container" *ngIf="publicaciones">
    <div class="grid-item" *ngFor="let publicacion of publicaciones">
      <img [src]="publicacion?.image" />
      <p>{{ publicacion?.description }}</p>
    </div>
  </div>
  <div class="grid-container" *ngIf="!publicaciones">
    <p>{{ errorMessage }}</p>
  </div>
</section>
