<!-- Header -->
<app-header></app-header>

<div class="container">
  <!-- Post n -->
  <div class="posts-container" *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </div>
</div>

<!-- Shortcuts -->
<div class="shortcuts">
  <img
    src="assets/images/icons/Favorite.png"
    alt=""
    [routerLink]="['/guardadas']"
  />
  <img
    src="assets/images/icons/Add_New.png"
    alt=""
    class="add-new-icon"
    (click)="oculto = !oculto"
  />
  <img src="assets/images/icons/chat.png" alt="" [routerLink]="['/mensajes']" />
  <img
    src="assets/images/icons/heart.png"
    alt=""
    (click)="notificationsHidden = !notificationsHidden"
  />
</div>

<!-- Suggestions -->
<div class="suggestions" *ngIf="suggestions.length">
  <p class="suggestions-title">Sugerencias para ti</p>
  <app-suggestion
    *ngFor="let suggestion of suggestions"
    [suggestion]="suggestion"
  ></app-suggestion>
</div>

<!-- Crear nuevo... -->
<div
  class="crear-publicacion animate__animated animate__faster"
  [ngClass]="{ 'animate__fadeInRight crear-visible': !oculto }"
>
  <button (click)="crearPublicacion()">Crear publicación</button>
  <button (click)="editarPerfil()">Editar perfil</button>
</div>

<!-- Overlay Notifications -->
<div
  class="overlay-notifications animate__animated animate__faster"
  [ngClass]="{
    'animate__fadeInRight overlay-notifications-visible': !notificationsHidden
  }"
>
  <h2>Notificaciones</h2>
  <div class="horizontal-line"></div>
  <div class="notification">
    <img src="assets/images/avatar/joaquin.png" alt="" />
    <strong class="user-fullname">Joaquín Lewis</strong>
    <span>Ha comentado tu foto</span>
    <img src="assets/images/icons/right_arrow.png" alt="" />
  </div>
  <div class="notification">
    <img src="assets/images/avatar/joaquin.png" alt="" />
    <strong class="user-fullname">Joaquín Lewis</strong>
    <span>Ha comentado tu foto</span>
    <img src="assets/images/icons/right_arrow.png" alt="" />
  </div>
  <div class="notification">
    <img src="assets/images/avatar/joaquin.png" alt="" />
    <strong class="user-fullname">Joaquín Lewis</strong>
    <span>Ha comentado tu foto</span>
    <img src="assets/images/icons/right_arrow.png" alt="" />
  </div>
  <div class="notification">
    <img src="assets/images/avatar/joaquin.png" alt="" />
    <strong class="user-fullname">Joaquín Lewis</strong>
    <span>Le gustó tu foto</span>
    <img src="assets/images/icons/right_arrow.png" alt="" />
  </div>
  <div class="notification">
    <img src="assets/images/avatar/joaquin.png" alt="" />
    <strong class="user-fullname">Joaquín Lewis</strong>
    <span>Le gustó tu foto</span>
    <img src="assets/images/icons/right_arrow.png" alt="" />
  </div>
  <div class="horizontal-line"></div>
</div>
