<!-- Header -->
<app-header></app-header>

<div class="container">
  <!-- Back -->
  <div class="back" (click)="goHome()">
    <img src="assets/images/icons/left_arrow.png" alt="" /><span>Guardadas</span>
  </div>

  <!-- Guardadas -->
  <div class="saved-container">
    <div class="saved-item">
      <img
        src="assets/images/guardadas/reza-delkhosh-T7PWyUVwfGg-unsplash.jpg"
        alt=""
      />
      <small>Hace 30 minutos</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/gordon-cowie-B75bd6qoSqQ-unsplash.jpg"
        alt=""
      />
      <small>Hace 1 hora</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/reza-delkhosh-Ms5iR0egFOM-unsplash.jpg"
        alt=""
      />
      <small>Hace 2 horas</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/matthew-reyes-eZj5QVf_dZo-unsplash.jpg"
        alt=""
      />
      <small>Hace 6 horas</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/mohamadreza-khashai-ZPbLwXDj25I-unsplash.jpg"
        alt=""
      />
      <small>Hace 3 semanas</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/jamaal-cooks-BJpqm1hCAdg-unsplash.jpg"
        alt=""
      />
      <small>Hace 8 semanas</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/ian-dooley-ufl6sF3VSLI-unsplash.jpg"
        alt=""
      />
      <small>Hace 1mes</small>
    </div>
    <div class="saved-item">
      <img
        src="assets/images/guardadas/siyanda-vincent-8MAaKG5TMfI-unsplash.jpg"
        alt=""
      />
      <small>Hace 2 meses</small>
    </div>
  </div>
</div>
